[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
jupyterlab = "==0.35.6"
"boto3" = "*"
bwapi = "*"
scikit-learn = "*"
pyarrow = "*"
fastparquet = "*"
pyspark = "*"
plotly = "*"
networkx = "*"

[dev-packages]

[requires]
python_version = "3.7"
